.filterContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: darkblue;
    min-height: 120px;
}

.filterContainer label{
    color: beige;
    margin-right: 0.5rem;
}

.filterContainer select {
    background: beige;
    padding: 1rem 3rem;
    color: darkblue;
}

.buttonFilter {
    padding: 1rem 3rem;
    background-color: beige;
    border: solid 1px beige;
    color: black;
    transition: all 0.3s;
    border-radius: 10px;
}

.buttonFilter:hover {
    background-color: transparent;
    color: beige;
}