.buttonContainer {
    background: darkblue;
    color: beige;
    font-size: 16px;
    padding: 1rem;
    border: solid 1px darkblue;
    margin: 0.5rem;
}

.buttonContainer:hover {
    background: transparent;
    color: darkblue;
    transition: all 0.3s;
}


.divConteiner{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    flex-wrap: wrap;
    gap: 1em;
}


